.text_input, .number_input, .drop_down, .checkbox {
    border-color: var(--input__border);
    border-style: solid;
    border-width: 2px;
    border-radius: .2rem;

    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;

    background-color: var(--input__background);

    color: var(--text);
}

    .text_input:focus-within, .text_input:not([disabled]):hover, .number_input:focus-within, .number_input:not([disabled]):hover, .drop_down:focus, .drop_down:not([disabled]):hover {
        border-color: var(--input__border--active);
    }

    .text_input[disabled], .number_input[disabled], .drop_down[disabled], .drop_down__clear[disabled], .checkbox[disabled], .checkbox_label[disabled], .radio_button__group[disabled] {
        opacity: .4;
    }

    .text_input[invalid], .number_input[invalid], .drop_down[invalid] {
        border-color: var(--input__border--invalid);
    }

.drop_down__clear {
    color: var(--danger);
}

.checkbox:not([disabled]):hover {
    border-color: var(--input__border--active);
}

.checkbox_label {
    color: var(--text);
}

.item__label {
    color: var(--label);
}

    .item__label--required {
        color: var(--label--required);
        font-weight: bold;
    }

.item__error_message {
    color: var(--danger);
    font-size: 0.9em;
}

.item__hint {
    font-size: 0.8em;
}

.button--primary {
    border-color: var(--primary);

    background-color: var(--primary);

    color: var(--text--inverse);
}

.button--secondary {
    border-color: var(--secondary);

    background-color: transparent;

    color: var(--secondary);
}

.button--danger {
    border-color: var(--danger);

    background-color: var(--danger);

    color: var(--text--inverse);
}

.button--text {
    border-style: none;

    background: none;
}

.button--text--primary {
    color: var(--primary);
}

.button--text--secondary {
    color: var(--secondary);
}

.button--text--danger {
    color: var(--danger);
}

.button[disabled] {
    opacity: .4;
}

.radio_button__label {
    color: var(--text);
}

    .radio_button:not([disabled]):hover {
        border-color: var(--input__border--active);
        border-width: 0.2em;
    }

.card {
    border-style: solid;
    border-color: var(--panel__border);
    border-width: 1px;
    border-radius: .4em;

    padding: .8em;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, .6);

    background-color: var(--panel__background);
    
    color: var(--text); 
}

.card__header {
    font-size: 1.2em;
    font-weight: bold;

    color: var(--text);
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: .4em;

    color: var(--text); 

    padding: .4em;  
}

.box--information {
    border-color: var(--box__border--information);
    background-color: var(--box__background--information);
}

.box--warning {
    border-color: var(--box__border--warning);
    background-color: var(--box__background--warning);
}

.box--tip {
    border-color: var(--box__border--tip);
    background-color: var(--box__background--tip);
}

.box__title {
    font-size: 1.2em;
    font-weight: bold;
}

.box__icon {
    font-size: 1.4em;
}

.box__icon--information {
    color: rgba(0, 78, 150, 1);
}

.box__icon--warning {
    color: rgba(181, 0, 0, 1);
}

.box__icon--tip {
    color: rgba(0, 95, 25, 1);
}

.tab_panel {
    width: 100%;
    height: 100%;
}

.tab_panel__pages {
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: var(--tab_panel__border);
}

.tab_panel__page {
    font-size: 1em;
    font-weight: bold;

    cursor: pointer;
}

.tab_panel__page--active {
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: var(--tab_panel__border--active);

    color: var(--text--active);
}