:root {
    --input__background: rgb(243, 243, 243);
    --input__border: rgb(60, 60, 60);
    --input__border--active: rgb(0, 93, 234);
    --input__border--invalid: rgb(163, 0, 0);

    --text: rgb(7, 10, 33);
    --text--inverse: rgba(255, 255, 255, .9);
    --text--active: rgb(0, 93, 234);
    --placeholder: rgb(96, 96, 96);

    --label: rgba(7, 10, 33, .6);
    --label--required: rgba(7, 10, 33);

    --primary: rgb(35, 57, 255);
    --secondary: rgb(91, 91, 91);
    --danger: rgb(163, 0, 0);
    --danger--light: rgba(163, 0, 0, .1);

    --panel__background: rgb(245,245,245);
    --panel__border: rgb(245,245,245);

    --tab_panel__border: rgba(0, 0, 0, .1);
    --tab_panel__border--active: rgb(0, 93, 234);

    --box__background--information: rgba(0, 78, 150, .2);
    --box__background--warning: rgba(163, 0, 0, .2);
    --box__background--tip: rgba(0, 95, 25, .2);

    --box__border--information: rgba(0, 78, 150, 1);
    --box__border--warning: rgba(163, 0, 0, 1);
    --box__border--tip: rgba(0, 95, 25, 1);
}